{% extends 'partials/page.twig' %}
{% block title %}{{ trans('merchandise.title') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="pimpmycode">
           <h1>Pimp my code</h1>
        </main>
    </div>
{% endblock %}