{% extends 'partials/page.twig' %}
{% block title %}{{ trans('privacy.title') }}{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="robots" content="noindex, nofollow">
{% endblock %}
{% block content %}
    <div class="container content">
        <main class="privacy">
            <h1>{{ trans('privacy.title') }}</h1>
            {% for text in trans('privacy.policy') %}
                <p>{{ text|raw|nl2br }}</p>
            {% endfor %}
        </main>
    </div>
{% endblock %}