<!DOCTYPE html>
<html class="error-page" lang="{{ config_get('app.locale') }}">
<head>
    {% include 'partials/head.twig' %}
    <title>{% block error %}{% endblock %} - {{ config_get('app.name') }}</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="logo">
                <img src="{{ asset('images/logo.svg') }}" class="img-fluid" alt="Salve Mundi logo">
            </div>
            <div class="title">{{ block('error') }}</div>
            {% if block("message") is defined %}
                <div class="message">{% block message %}{% endblock %}</div>
            {% endif %}
        </div>
    </div>
    {% block analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112797049-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {dataLayer.push(arguments);}

            gtag('js', new Date());

            gtag('config', 'UA-112797049-1');
        </script>
    {% endblock %}
</body>
</html>