<footer>
    <div class="container">
        <div class="copyright">
            {{ trans('footer.copyright') }}
        </div>
        <div class="social">
            <a href="https://facebook.com/{{ config_get('facebook.url') }}" target="_blank">{{ trans('footer.facebook') }}</a>
        </div>
    </div>
</footer>