<header>
    <nav class="{% block nav_classes %}{% endblock %}">
        <div class="container">
            <a href="{{ route('home') }}"><img src="{{ asset('images/logo.svg') }}" alt="Salve Mundi"></a>
            <ul>
                <li>
                    <a href="{{ route('signup') }}">{{ trans('nav.sign_up') }}</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
