{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.applications.title') }}{% endblock %}
{% block content %}
    <main class="applications">
        <h1>{{ trans('admin.applications.title') }}</h1>
        <div class="row justify-content-center">

        </div>
    </main>
{% endblock %}