// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "signup";
@import "nav";
@import "error";
// Doe hier je SASS-dingen.
body {
  outline: none !important;
}

a {
  color: $brand-primary;
  transition: .2s ease;
  padding: 0;
  @include hover-focus-active {
    position: relative;
    background: $brand-primary;
    color: $white;
    text-decoration: none;
  }
  &.button {
    padding: 10px;
    background-color: $brand-primary;
    color: white;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
    @include hover-focus-active {
      background-color: $white;
      color: $brand-primary;
      cursor: pointer;
      text-decoration: none;
      box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.28);
    }
  }
}

.landing {
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding-top: calc(50vh - 75px);
  text-align: center;
  color: white;
  background: url(../images/glowGroup.jpg) no-repeat bottom;
  h1 {
    font-weight: 100;
  }
  .signup-btn {
    margin: 30px;
    padding: 15px;
    font-size: 24px;
    @include hover-focus-active {
      background-color: $white;
      color: $brand-primary;
      cursor: pointer;
    }
  }
}

.content {
  padding: 110px 0 0 0;
  main {
    h1 {
      color: $brand-primary;
    }
    section {
      padding: 100px 0 100px 0;
      p {
        padding: 0 15px 0 15px;
      }
    }
    .events {
      background-color: $brand-primary;
      color: $white;
      box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.28);
    }

    .form-group:focus {
      outline: $brand-primary;
    }
    input {
      border: none;
      background: none;
      border-bottom: thin solid gray;
      border-radius: 0;
      &:focus {
        background: none;
        outline: 0 !important;
        border-color: $brand-primary;
      }
    }
    .button, button, input[type=button] {
      background-color: $brand-primary;
      color: white;
      padding: 10px;
      @include hover-focus-active {
        background-color: white;
        color: $brand-primary;
        border: none;
      }
    }
  }
}

.index {
  padding-top: 0;
}

footer {
  width: 100%;
  background-color: $brand-primary;
  height: 150px;
}