// Variables
@import "variables";
// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "signup";
@import "nav";
@import "footer";
@import "admin";
@import "member";
@import "error";
// Doe hier je SASS-dingen.
body {
  outline: none !important;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  > .content {
    flex: 1;
  }
}



.button {
  padding: 10px;
  background-color: $brand-primary;
  color: white;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.28);
  border: 0;
  @include hover-focus-active {
    background-color: $white;
    color: $brand-primary;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.28);
  }
}
a {
  color: lighten($brand-primary, 10%);
  transition: .2s ease;
  padding: 0;
  @include hover-focus-active {
    position: relative;
    background: $brand-primary;
    color: $white;
    text-decoration: none;
  }
}
button {
  @extend a;
}
@keyframes landing-background {
  0% {
    background-position: bottom left;
    animation-timing-function: linear;
  }
  90% {
    background-position: bottom right;
  }
  100% {
    background-position: bottom center;
  }
}

//noinspection CssOptimizeSimilarProperties
.landing {
  height: 100vh;
  margin: 0;
  padding-top: calc(50vh - 75px);
  text-align: center;
  color: white;
  background-color: lighten($brand-primary, 10%);
  background-image: url(../images/images/intro_index_02.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-down(md) {
    animation: landing-background 25s ease forwards;
  }
  h1 {
    font-weight: 100;
    margin-bottom: 2rem;
  }
  h5 {
    margin-bottom: 2rem;
  }
  .signup-btn {
    margin: 30px;
    padding: 15px;
    font-size: 24px;
    @include hover-focus-active {
      background-color: $white;
      color: $brand-primary;
      cursor: pointer;
    }
  }
}

.content {
  padding-top: 110px;
  main {
    h1, h2, h3, h4 {
      color: theme-color(primary);
    }
    .description {
      padding-bottom: 0;
    }
    .description + .camping {
      padding-top: 0;
    }
    .description + .events {
      margin-top: 1rem;
      @include media-breakpoint-up(md) {
        margin-top: 100px;
      }
    }

    .events {
      h1, h3 {
        color: $white;
      }
      background-color: $brand-primary;
      color: $white;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.28);
      .error, .loading, .no-events {
        padding: 1rem;
        p {
          margin-bottom: 0;
        }
      }
      .no-events {
        a {
          color: theme-color-level(info, -1);
          @include hover-focus-active {
            background: $white;
            color: $brand-primary;
          }
        }
      }
      .error {
        color: theme-color(danger);
        background: $body-bg;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.28);
      }
      //noinspection CssOptimizeSimilarProperties
      .event {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border-bottom: 1px solid darken(theme-color(primary), 5%);
        display: flex;
        flex-direction: row;
        color: $white;
        background-clip: content-box;
        position: relative;
        z-index: 1;
        .event-content {
          padding: 1.5rem;
        }
        .background {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: theme-color(primary);
          background-size: cover;
          background-repeat: no-repeat;
          z-index: -1;
          opacity: 0.15;
          transition: .2s ease;
        }

        @include hover-focus-active {
          box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.28);

          .background {
            opacity: 0.5;
          }

          //color: theme-color(primary);
          //background-color: $body-bg;
          //h3 {
          //  //color: theme-color(primary);
          //}
          //.date-container {
          //  .date, .place {
          //    color: $body-bg;
          //    background-color: theme-color(primary);
          //  }
          //}
        }
        p {
          padding-left: 0;
          margin-bottom: 0;
        }
        .date-container {
          div {
            opacity: 1;
          }
          .fade-enter-active, .fade-leave-active {
            transition: opacity 2s ease;
          }
          .fade-enter, .fade-leave-to {
            opacity: 0;
          }

          margin-right: 1rem;
          .date, .attending {
            transition: all .2s ease, opacity .5s;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: $body-bg;
            //display: inline-block;
            padding: 0 1rem;
            text-align: center;
            color: theme-color(primary);
            height: 90px;
            width: 90px;
          }
          .date {
            .day {
              display: block;
              font-size: 2.5rem;
              font-weight: bold;
            }
            .month {
              text-transform: uppercase;
              font-size: 0.8rem;
            }
          }

          .attending {
            margin-top: 1rem;
            .count {
              display: block;
              font-size: 2.5rem;
              font-weight: bold;
            }
            .text {
              text-transform: uppercase;
              font-size: 0.8rem;
            }
            position: absolute;
          }
          min-height: 2 * 90px + 16px;
          .place {
            position: absolute;
            transition: all .2s ease, opacity .5s;
            text-align: center;
            font-size: 1.2rem;
            &.small {
              font-size: 1rem;
            }
            margin-top: 1rem;
            padding: 0 .1rem;
            hyphens: auto;
            width: 90px;
            min-height: 90px;
            background: $body-bg;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: theme-color(primary);
          }
        }
        h4, h5 {
          margin-bottom: 0;
        }
        &:last-child {
          border-bottom: none;
        }

        @include media-breakpoint-down(sm) {
          .date-container {
            margin-right: .5rem;
          }
          .event-content {
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: 100%;
            p {
              display: none;
            }
          }
          .background {
            background-position-y: initial !important;
          }
        }
        @include media-breakpoint-down(xs) {

          .event-content {
            h3 {
              font-size: $font-size-lg;
            }
          }

        }
      }
    }

    .committees {
      .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(3, 1fr);
        }
        @include media-breakpoint-down(md) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-down(xs) {
          grid-template-columns: 1fr;
        }
        .button {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-size: 1.5rem;
          margin: 1rem;
          min-height: 4rem;
          hyphens: auto;
        }
      }
    }

    .form-group:focus {
      outline: $brand-primary;
    }
    input {
      border: none;
      background: none;
      border-bottom: thin solid gray;
      border-radius: 0;
      &:focus {
        background: none;
        outline: 0 !important;
        border-color: $brand-primary;
      }
    }
    .button, button, input[type=button] {
      background-color: $brand-primary;
      color: white;
      padding: 10px;
      @include hover-focus-active {
        background-color: white;
        color: $brand-primary;
        border: none;
      }
    }
  }
}

.index {
  padding-top: 0;
  section {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include media-breakpoint-up(md) {
      padding-top: 100px;
      padding-bottom: 100px;
      .description {
        padding-top: 1rem;
      }
    }
  }
}

.committee {
  &.media-committee {
    .image-logo {
      margin: 0;
      img {
        max-height: 5rem;
      }
    }
  }

  &.women-committee {
    .tagline {
      h4, h5 {
        color: theme-color(primary);
        text-transform: uppercase;
      }
      h4 {
        font-weight: bolder;
      }
    }
  }
  .image {
    margin: 1rem 0;
    img {
      margin: 0 auto;
      display: block;
    }
    .caption {
      text-align: center;
      padding-top: .5rem;
      font-style: italic;
      color: $text-color;
    }
  }
  .members {
    padding-top: 100px;
    padding-bottom: 100px;
    background: theme-color(primary);
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.28);

    &, h2, h3, h4 {
      color: $white;
    }
    h2 {
      padding-left: .5rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
      }
      @include media-breakpoint-down(sm) {
        grid-auto-rows: auto;
      }
    }
    .member {
      padding: .5rem;
      &.has-image {
        .inner {
          .content {
            width: 60%;
            @include media-breakpoint-down(sm) {
              width: 100%;
              padding: 0;
              p {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .inner {
        min-height: 15rem;
        transition: .2s ease;
        height: 100%;
        padding: .5rem;
        h4 {
          transition: .2s ease;
          color: theme-color(primary);
        }
        background: $body-bg;
        color: $body-color;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &.reverse {
          flex-direction: row-reverse;
          .content {
            padding: 0 0 0 .5rem;
          }
          @include media-breakpoint-down(md) {
            flex-direction: row;
            .content {
              padding: 0 .5rem 0 0;
            }
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          justify-content: space-between;
        }
        .content {
          padding: 0 .5rem 0 0;
          text-align: justify;
          p {
            //opacity: 0;
            transition: .2s ease;
          }
        }
        .image {
          //width: 100%;
          margin: 0;
          min-width: 40%;
          @include media-breakpoint-down(sm) {
            min-width: 100%;
            height: 40vh;
          }
          //noinspection CssOptimizeSimilarProperties
          .img {
            transition: .2s ease;
            background-color: scale-color(theme-color(primary), $saturation: 10%, $lightness: 30%);
            display: block;
            background-blend-mode: multiply;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center center;
          }
        }
      }
      //&[href] {
      @include hover-focus-active {
        .inner {
          box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.28);
          /*color: $body-bg;
          background-color: theme-color(primary);
          h4 {
            color: $body-bg;
          }*/
          .content {
            p {
              opacity: 1;
            }
          }
          .image {
            .img {
              background-color: #FFFFFF;
            }
          }
        }
      }
      //}

    }
  }
}

[v-cloak] {
  display: none !important;
}
