.discounts {
  .buttons {
    .button {
      margin-right: 1rem;
    }
  }

  img {
    width: 120px;
    &.right {
      float: right;
    }
  }
  table.table-discounts {
    width: 500px;

    thead {
      border: 0;

      th {
        border: 0;
        text-align: center;


      }
    }

    tbody {
      border-color: #663265;

      &:before, &:after {
        content: '';
        display: block;
        height: 10px;
      }

      tr {
        th, td {
          border-top: none;
          padding: 0;
        }

        td {
          text-align: center;
        }

        .original-price {
          text-decoration: line-through;
        }
      }
    }
  }
}