.error-page {
  body {
    background: $brand-primary;
  }
  &, .container, body, .content {
    height: 100%;
  }
  .content {
    display: flex;
    padding: 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: $white;
    text-align: center;
    .title {
      font-size: 2.5 * $font-size-lg;
      font-weight: bold;
    }
    a {
      color: lighten($text-color, 20%);
      text-decoration: underline;
      @include hover-focus-active {
        color: $white;
      }
    }
    .logo {
      img {
        height: 6rem;
      }
      margin-bottom: 1rem;
    }
    .message {
      margin-top: 1rem;
      font-size: $font-size-lg;
    }
  }
}
.sticky-top {
  position: sticky;
  top: 100px;
  z-index: 955;
  .warning {
    margin-top: 0;
  }
}
.warning {
  display: block;
  background: theme-color-level(primary, -5);
  color: theme-color-level(primary, 5);
  padding: 2rem 1rem;
  border-left: 1rem solid theme-color-level(primary);
  margin-bottom: 1rem;
  margin-top: 1rem;
  abbr {
    text-decoration: none;
    border-bottom: 2px dotted theme-color-level(primary, 5);
  }
  &.no-margin {
    margin-top: 0;
  }
  .button-container {
    margin-top: 1rem;
  }
}