$transition-timing: .4s;
header {
  width: 100%;
  position: fixed;
  z-index: 999;

  &.no-background {
    pointer-events: none;

    nav {
      height: 150px;
      background: none;
      box-shadow: none;

      .container {
        .logo, ul {
          pointer-events: auto;
        }

        .logo {
          img {
            padding: 30px 30px 30px 0;
          }
        }
      }
    }
  }

  nav {
    transition: background $transition-timing ease-in-out $transition-timing/2, box-shadow $transition-timing ease-in-out $transition-timing/2, height $transition-timing ease-in-out;
    height: 100px;
    margin: 0;
    width: 100%;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.28);
    background-color: $brand-primary;

    a {
      background: none;
      box-shadow: none;
      @include hover-focus-active {
        background-color: $white;
        color: $brand-primary;
        cursor: pointer;
      }

      &.logo {
        @include hover-focus-active {
          box-shadow: none;
          background-color: transparent;
        }
      }
    }

    .container {
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .logo {
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
        img {
          transition: padding $transition-timing ease-in-out;
          height: 100%;
          $logo-padding: 15px;
          padding: $logo-padding $logo-padding $logo-padding 0;
        }
      }

      ul {
        align-self: center;
        margin-top: 0;
        margin-bottom: 0;

        li {
          list-style: none;
          display: inline-block;

          a {
            line-height: 1;
            color: white;
            padding: 10px;
            font-size: 18px;
            margin: 5px;
            transition: 0.3s ease;
            background: none;

            &:hover {
              background-color: white;
              color: $brand-primary;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
