{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.supervisor.signup.email_confirmed') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="checkmark-wrapper">
                        <div class="checkmark">&check;</div>
                    </div>
                    <h2>{{ trans('intro.supervisor.signup.email_confirmed', { year: application.introduction.year.year }) }}</h2>
                    <p>{{ trans('intro.supervisor.signup.thanks_for_confirming', { name: application.member.first_name, year: application.introduction.year.year }) }}</p>
                    <p>{{ trans('intro.supervisor.signup.email_info', { year: application.introduction.year.year }) }}</p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}