{% extends 'partials/page.twig' %}
{% block title %}{{ trans('intro.supervisor.signup.title') }}{% endblock %}
{% block content %}
    <div class="container content">
        <main class="signup">
            <h1>{{ trans('intro.supervisor.signup.title') }}</h1>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2>{{ trans('intro.supervisor.signup.completed') }}</h2>
                    <p>{{ trans('intro.supervisor.signup.email_instructions') }}</p>
                </div>
            </div>
        </main>
    </div>

{% endblock %}