{% extends 'admin/_page.twig' %}
{% block title %}{{ trans('admin.committees.title') }}{% endblock %}
{% block content %}
    <div class="container">
        <main class="committees overview">

        </main>
    </div>
{% endblock %}